@import '../../common/variables';

#profile {
    position: fixed;
    top: $header-height;
    left: $aside-width;
    width: calc(100% - $aside-width);
    height: 100%;
    background-color: blue;
    overflow-y: auto;
}